.headphone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        display: grid;
        place-content: center;
        width: 100%;
        background: var(--bg-black-grdt);
        color: var(--white);
        padding: 30px;

        h1  {

            @media (max-width: 500px) {
                font-size: 2rem;
            }
        }
    }

    .container {
        width: min(95%, 1000px);


        .one {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            margin-bottom: 150px;
            gap: 1.5rem;

            @media (max-width: 500px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
            }
        }
    }
}