@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --main-pd: 0 10rem;
  --bd-radius: 8px;

  /* colors */
  --main: rgb(216, 125, 74);
  --hover: rgb(216, 125, 74);
  --accent: rgb(251, 175, 133);
  --grey: grey;
  --darker-white: rgb(241, 241, 241);
  --lightest-white: rgb(250, 250, 250);
  --black-main: #000000;
  --black-alt: #0E0E0E;
  --white: #fff;
  --bg-black-grdt: linear-gradient(90deg, rgba(14, 14, 14, 1) 0%, rgb(20, 20, 19) 66%, rgb(19, 19, 19) 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 0.8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-weight: 800;
  font-size: 3.5rem;
  letter-spacing: 2px;
  line-height: 44px;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  line-height: 38px;
}

h3 {
  font-weight: 600;
  font-size: 1.95rem;
  letter-spacing: 1.1.15px;
  line-height: 36px;
}

h4 {
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 2px;
  line-height: 38px;
}

h5 {
  font-weight: 500;
  font-size: 1.45rem;
  letter-spacing: 1.7px;
  line-height: 33px;
}

h6 {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  line-height: 24px;
}

.spacedout {
  letter-spacing: 10px;
  font-size: 0.9rem;
  line-height: 19px;
}


.subtitle {
  font-size: 0.8rem;
  letter-spacing: 1px;
  line-height: 25px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 20px 30px;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
}
