.section {
    margin: 10px 0;
}

.section>a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
    margin-bottom: 20px;
    align-self: flex-start;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 1000px);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    object-fit: contain;
    border-radius: var(--bd-radius);
    background-color: var(--darker-white);
    padding: 60px 10px;
    position: relative;
}

.dropshadow {
    position: absolute;
    bottom: 30%;
    height: 20px;
    width: 120px;
    border: 8px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 50px 25px rgba(0, 0, 0, 0.594);
}

.img>img {
    object-fit: contain;
    width: 50%;
}

.content {
    padding: 50px;
    width: 50%;
}

.text>h6 {
    letter-spacing: 10px;
    color: var(--main);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
}

.text>h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.text>p {
    font-weight: 500;
    margin-bottom: 20px;
}

.text>a {
    color: white;
    background-color: var(--main);
}

.text>a:hover {
    color: white;
    background-color: var(--accent);
}

.text>.price {
    font-size: 1.5rem;
    font-weight: 800;
}

.btn {
    display: flex;
    gap: 1rem;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    outline: none;
    border: none;
    padding: 20px 30px;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: var(--darker-white);
    min-width: 50%;
}

.amount>span {
    width: 10%;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--grey);
}

.amount>span::-moz-selection {
    /* Code for Firefox */
    color: none;
    background: none;
}

.amount>span::selection {
    color: none;
    background: none;
}

.add {
    background-color: var(--main);
    color: var(--white);
}

.add:hover {
    background-color: var(--accent);
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .img {
        width: 100%;
        order: 0 !important;
    }

    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        padding: 0px;
    }

    .text>p {
        margin-bottom: 20px;
    }
}

@media(max-width: 500px) {
    .content {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}