.section {
    margin: 150px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(95%, 1000px);
}

.img {
    display: flex;
    place-content: center;
    width: 50%;
    object-fit: contain;
    border-radius: var(--bd-radius);
    background-color: var(--darker-white);
}

.text {
    padding: 50px;
    width: 50%;
}

.text>h6 {
    letter-spacing: 10px;
    color: var(--main);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
}

.text>h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.text>p {
    font-weight: 300;
    margin-bottom: 50px;
}

.text>a {
    color: white;
    background-color: var(--main);
}

.text>a:hover {
    color: white;
    background-color: var(--accent);
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .img {
        width: 100%;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .text> p{
        margin-bottom: 20px;
    }
}